<div class="row">
  <div class="label">{{ label }}</div>
  <storybook-checkbox *ngIf="mode === 'checkbox'" class="cell"></storybook-checkbox>
  <storybook-checkbox *ngIf="mode === 'checkbox'" class="cell"></storybook-checkbox>
  <storybook-checkbox *ngIf="mode === 'checkbox'" class="cell"></storybook-checkbox>

  <storybook-radio-button *ngIf="mode === 'radio'" class="cell"></storybook-radio-button>
  <storybook-radio-button *ngIf="mode === 'radio'" class="cell"></storybook-radio-button>
  <storybook-radio-button *ngIf="mode === 'radio'" class="cell"></storybook-radio-button>
</div>
