.status-button {
    width: 24px;
    height: 24px;
    background-color: #0040c1;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0030a1;
    }
  
    .icon {
      width: 16px;
      height: 16px;
    }
  }
  