@use "../../../styles/colors" as colors;
@use '../../../styles/spacings' as spacings;
@use '../../../styles/typography' as typography;


.dropdown-container {
  display: flex;
  flex-direction: column;
  padding: spacings.$padding-lg;
  margin: 0;
  min-width: 250px; // Ancho mínimo
  width: 100%;
  max-width: 100%; // Asegura que no exceda el contenedor padre
  background-color: colors.$sh-white;
  gap: spacings.$spacing-sm;
  box-sizing: border-box; // Incluye padding en el cálculo del ancho
  transition: width 0.3s ease; // Animación suave al cambiar el tamaño
}

.dropdown-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  display: flex;
  gap: spacings.$spacing-md;
  justify-content: center;
  align-items: center;
  
}

.headers {
  flex: 1; 
  min-width: 0;
}

.header-text, .section-title, .section-subtitle, .section-body {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.divider-line{
  border: 0;
  height: 1px;            
  background-color: colors.$sh-gray;  
  margin: 0; 
}

.header-text{
  color: colors.$primary-blue !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.headers{
  display: flex;
  flex-direction: column;
  gap: spacings.$spacing-xs;
}

.header-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: spacings.$spacing-xs;
}

.state-info{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.dropdown-section {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section-title {
  font-size: typography.$text-subtitle-size;
  font-weight: typography.$text-subtitle-weight;
  color: colors.$ns-gray;
  margin: 0;
}

.section-subtitle {
  font-size: typography.$text-caption-size;
  font-weight: typography.$text-caption-weight;
  color: colors.$sh-gray;
  margin: 0;

}

.section-body {
  font-size: typography.$text-body-size;
  font-weight: typography.$text-body-weight;
  color: colors.$sh-gray;
  margin: 0;

}

.section-state {
  font-size: typography.$text-btn-size;
  font-weight: typography.$text-btn-weight;
  color: colors.$sh-green;
  margin: 0;

}

