<div class="container">
    <div class="image"></div>
    
    <div class="container2">
        <app-caption-warning></app-caption-warning>
        <div class="text-content">
            <h1 class="title-incompl">Página incompleta</h1>
            <span class="text-incompl">La página está incompleta, debes llenar todas las preguntas obligatorias *.</span>
        </div>
    </div>

    <div class="dropdown-section">
        <app-dropdown-menu 
            [state]="'label'"
            [textField]="'Selecciona tu departamento'"
            [options]="departments">
        </app-dropdown-menu>
        <app-input
            [label]="'label'"
            [type]="'textField'"
            [state]="'enable'"
            [placeholder]="'Texto input'"
            [showIcon]="'true'"
            [type]="'textField'"
        ></app-input>
        <app-input
            [label]="'label'"
            [type]="'textField'"
            [state]="'enable'"
            [placeholder]="'Texto input'"
            [showIcon]="'true'"
            [type]="'textField'"
        ></app-input>
    </div>

    <div class="map-section">
        <app-map-current-position/>
    </div>
    
        <app-button 
        [label]="buttonText" 
        [size]="'small'"
        [color]="'primary'" 
        [style]="'filled'" 
        [state]="'active'"
        (onClick)="onButtonClick()">
        </app-button>
        <app-button 
            [label]="'Continuar sin completar'" 
            [size]="'small'"
            [color]="'error'" 
            [style]="'text'" 
            [state]="'active'"
            (onClick)="onButtonClick2()">
        </app-button>
</div>