<div
  class="dropdown-container"
  [class.error]="error"
  (click)="$event.stopPropagation()"
>
  <label class="dropdown-label">{{ textField }}</label>

  <div
    class="dropdown-wrapper"
    [class.open]="isOpen"
    (click)="toggleDropdown()"
  >
    <span
      class="dropdown-placeholder"
      [class.selected]="!!selectedOption"
    >
      {{ selectedOption || textField }}
    </span>
    <app-icon
      name="arrowDrop"
      [fill]="error ? '#CA4949' : '#0041A3'"
      class="dropdown-icon"
      [class.open]="isOpen"
    ></app-icon>
  </div>

  <ul *ngIf="isOpen" class="dropdown-list">
    <li
      *ngFor="let option of options"
      class="dropdown-item"
      (click)="selectOption(option)"
    >
      {{ option }}
    </li>
  </ul>

  <div *ngIf="error" class="dropdown-error">
    {{ errorText }}
  </div>
</div>
