@use "../../../styles/colors" as colors;
@use "../../../styles/typography" as typography;
@use "../../../styles/spacings" as spacings;

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: spacings.$spacing-sm spacings.$spacing-md;
  border-radius: spacings.$radius-sm;
  background-color: colors.$sh-white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 339px;
  font-size: typography.$text-body-sm-size;
  font-weight: typography.$text-body-sm-weight;
}

.circle-icon {
  margin-right: spacings.$spacing-sm;
}

.label {
  flex: 1;
}

.close-icon {
  cursor: pointer;
}
