/* Paddings */
$paddng-none: 0px;
$paddng-xs: 4px;
$paddng-sm: 8px;
$paddng-md: 12px;
$paddng-lg: 16px;
$paddng-xl: 20px;
$paddng-xxl: 24px;
$paddng-xxxl: 32px;

/* Spacings */
$spacing-none: 0px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
