<div class="uploader-container" 
(click)="fileInput.click()"
     (dragover)="onDragOver($event)" 
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)"
     [class.drag-over]="isDragOver">
  
  <input type="file" 
         #fileInput 
         [multiple]="multiple" 
         [accept]="accept"
         (change)="onFileSelected($event)" 
         style="display: none;">
  
    <ng-container *ngIf="files.length > 0; else emptyState">
      <div class="overlay">
        <div class="uploader-content">
          <p>{{title2}}</p>
          <div class="newcontent">

            <app-icon name="file" fill="currentColor"></app-icon>
           
            <div class="file-names">
              <div *ngFor="let file of files" class="file-name">
                <span class="file-name-text">{{ file.name }}</span>
                <button (click)="removeFile(file, $event)" class="remove-btn">
                  ×
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #emptyState>
      <div class="overlay">
        <div class="uploader-content">
          <p>{{ title }}</p>
          <p class="hint">{{ hint }}</p>
        </div>
        <div class="icon">
          <app-icon name="upload" fill="currentColor"></app-icon>  
        </div>
      </div>
    </ng-template>
</div>