<div class="actions-card">
  <img
    *ngIf="showImage"
    src="/images/actions-card-img.png"
    alt="Illustration"
    class="illustration"
  />

  <div class="line-text">
    <div class="line"></div>
    <span class="text">¿Tienes algún problema?</span>
    <div class="line"></div>
  </div>

  <h3 *ngIf="showTitle" class="status-text">{{ titleText }}</h3>

  <div class="progress-section">
    <app-progress-card
      *ngIf="showProgressCard"
      [showHeadText]="false"
      [showTitle]="false"
      [showCheck]="false"
      [showArrow]="false"
      [percentValue]="progressValue"
      [showPercent]="false"
      [activitiesText]="activitiesText"
      [goalsText]="goalsText"
      [status]="progressStatus"
    ></app-progress-card>
  </div>

  <div *ngIf="showForms" class="forms-section">
    <app-input
      type="textField"
      state="enable"
      label="Título del input"
      placeholder="Texto input"
      [showIcon]="true"
      [showRequired]="true"
    ></app-input>

    <app-input
      type="multiline"
      state="enable"
      label="Título del input"
      placeholder="Texto input"
      [showIcon]="false"
      [showRequired]="false"
    ></app-input>
  </div>

  <label class="section-label">Encabezado</label>
  <img
    src="/images/void-action-card.png"
    alt="Placeholder gráfico"
    class="illustration2"
  />

  <div class="buttons-section">
    <app-button
      label="button"
      size="small"
      styles="filled"
      color="primary"
      state="active"
      orientation="center"
      [showIconStart]="false"
      [showIconEnd]="false"
    ></app-button>

    <app-button
      *ngIf="showButton2"
      label="button"
      size="small"
      styles="filled"
      color="primary"
      state="active"
      orientation="center"
      [showIconStart]="false"
      [showIconEnd]="false"
    ></app-button>
  </div>

  <a *ngIf="showLink" href="#" class="card-link"
    >Continuar sin complementar</a
  >
</div>
