@use "../../../styles/colors" as colors;
@use "../../../styles/typography" as typography;
@use "../../../styles/spacings" as spacings;

.actions-card {
  display: flex;
  flex-direction: column;
  gap: spacings.$spacing-md;
  background-color: colors.$sh-white;
  border-radius: spacings.$radius-sm;
  max-width: 360px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.illustration {
  width: 100%;
  max-height: 200px;
}

.illustration2 {
  width: 88%;
  max-height: 200px;
  align-self: center;
}

.line-text {
  display: flex;
  align-items: center;
  gap: spacings.$spacing-md;
  padding-left: spacings.$spacing-lg;
  padding-right: spacings.$spacing-lg;
  width: 100%;
  margin: 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: colors.$color-texts-captions;
  min-width: 45px;
}

.text {
  white-space: nowrap;
  font-size: typography.$text-overline-size;
  font-weight: typography.$text-overline-weight;
  color: colors.$color-texts-captions;
}

.status-text {
  margin: 0;
  font-size: typography.$text-h3-size;
  font-weight: typography.$text-h3-weight;
  color: colors.$ps-yellow;
  text-align: center;
}

.progress-section {
  padding-left: spacings.$spacing-lg;
  padding-right: spacings.$spacing-lg;
}

.forms-section {
  display: flex;
  flex-direction: column;
  gap: spacings.$spacing-md;
  padding-left: spacings.$spacing-lg;
  padding-right: spacings.$spacing-lg;
}

.section-label {
  font-size: typography.$text-subtitle-size;
  font-weight: typography.$text-subtitle-weight;
  color: colors.$color-text-titles;
  padding-left: spacings.$spacing-lg;
  padding-right: spacings.$spacing-lg;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  gap: spacings.$spacing-sm;
  padding-left: spacings.$spacing-lg;
  padding-right: spacings.$spacing-lg;
}

.card-link {
  display: block;
  margin-bottom: spacings.$spacing-md;
  text-align: center;
  font-size: typography.$text-body-size;
  font-weight: typography.$text-body-weight;
  color: colors.$sh-red;
  cursor: pointer;
  padding-left: spacings.$spacing-lg;
  padding-right: spacings.$spacing-lg;
}
