<div class="avatar-container">
  <div class="avatar-image-wrapper ">
    <img 
      [src]="image" 
      alt="profile image"
      [class]="apperance == 'default' ? 'avatar-image-default' : 'avatar-image-small'"
    />
    
    <app-icon
      name="oro" 
      [size]="apperance == 'default' ? '34' : '11'"
      alt="oro category icon" 
      class="avatar-badge"
    />
  </div>
  
  @if (apperance == 'default') {
    <div class="info">
      <h2 class="avatar-name">{{name}}</h2>
      <p class="avatar-points">{{points}} pts</p>
    </div>
  }
  
</div>