<div class="progress-card">
  <section class="card-content">
    <section class="card-head" *ngIf="showHeadText">
      <span class="text-left">{{ headLeftText }}</span>
      <span class="text-right">{{ headRightText }}</span>
    </section>

    <section class="card-title" *ngIf="showTitle">
      <h4>{{ title }}</h4>
      <div *ngIf="showCheck" class="check-icon">
        <app-icon name="check" fill="#FFFFFF"></app-icon>
      </div>
    </section>

    <app-progress-bar
      [value]="percentValue"
      [status]="status"
      [showPercent]="showPercent"
    ></app-progress-bar>

    <section class="card-bottom">
      <span class="text-left">{{ activitiesText }}</span>
      <span class="text-right">{{ goalsText }}</span>
    </section>
  </section>

  <app-icon
    *ngIf="showArrow"
    name="arrowRight"
    fill="#0041A3"
    class="arrow-icon"
  ></app-icon>
</div>