<div class="pagination-container">
    <div class="number-pages">
      <p>{{ currentPage.toString().padStart(2, '0') }}-{{ totalPages.toString().padStart(2, '0') }}</p>
    </div>
    <div class="pagination-controls">

      <button 
        class="pagination-button" 
        [disabled]="currentPage === 1" 
        (click)="changePage(1)"
        aria-label="First page"
      >
      <app-icon name="arrowLeft" size="12" fill="currentColor"></app-icon> 
      </button>

      <button 
        class="pagination-button" 
        [disabled]="currentPage === 1" 
        (click)="changePage(currentPage - 1)"
        aria-label="Previous page"
      >
      <app-icon name="arrowLeft" size="18" fill="currentColor"></app-icon> 
      </button>
  
      <div class="pages-buttons">
        <button 
          *ngFor="let page of pages" 
          class="pagination-pages" 
          [class.active]="page === currentPage" 
          (click)="changePage(page)"
        >
          {{ page }}
        </button>
      </div>
  
      <button 
        class="pagination-button" 
        [disabled]="currentPage === totalPages" 
        (click)="changePage(currentPage + 1)"
        aria-label="Next page"
      >
      <app-icon name="arrowRight" size="18" fill="currentColor"></app-icon>   
      </button>
      <button 
        class="pagination-button" 
        [disabled]="currentPage === totalPages" 
        (click)="changePage(totalPages)"
        aria-label="Last page"
      >
      <app-icon name="arrowRight" size="12" fill="currentColor"></app-icon>         
      </button>
    </div>
  </div>