@use "../../../styles/colors" as colors;
@use '../../../styles/spacings' as spacings;
@use '../../../styles/typography' as typography;


.button {
  display: inline-flex;
  width: 338px;
  align-items: center;
  justify-content: center;
  padding: spacings.$paddng-sm spacings.$paddng-sm;
  border-radius: 8px;
  font-size: typography.$text-btn-size;
  font-weight: typography.$text-btn-weight;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: spacings.$spacing-sm;
  
  &.disabled {
    cursor: not-allowed;
    transform: none !important;
    box-shadow: none !important;
  }

  &.filled {
    background-color: colors.$primary-blue;
    color: white;

      &.active {
        background-color: colors.$primary-blue;
      }

      &.hovered {
        background-color: #1A54AC;
      }

      &.pressed {
        background-color: colors.$blue-scale-600;
      }

      &.disabled {
        background-color: colors.$sh-gray;
        color: colors.$ns-gray;
      }
    }

  &.outline {
    background-color: transparent;
    color: colors.$color-text-titles;
    border: 1px solid colors.$primary-blue;
  
    &.active {
      border-color: colors.$primary-blue;
    }
  
    &.hovered {
      border-color: colors.$primary-blue;
      background-color: transparentize(colors.$blue-scale-300, 0.9); 
    }
  
    &.pressed {
      border-color: colors.$primary-blue;
      background-color: transparentize(colors.$blue-scale-300, 0.7); 
    }
  
    &.disabled {
      border-color: colors.$ns-gray;
      color: colors.$ns-gray;
    }
  }

  &.error {
    background-color: transparent;
    border: 1px solid colors.$sh-red; 
    color: colors.$sh-red;
  
    &.active {
      border-color: colors.$sh-red;
    }
  
    &.hovered {
      border-color: colors.$sh-red;
      background-color: transparentize(colors.$sh-red, 0.9); 
    }
  
    &.pressed {
      border-color: colors.$sh-red;
      background-color: transparentize(colors.$sh-red, 0.8); 
    }
  
    &.disabled {
      border-color: colors.$ns-gray;
      color: colors.$ns-gray;
    }
  }
}

