
<!-- Intento xD 
<div class="storybook-search" >
    <svg class="image" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
        <path strokeLinecap="round" strokeLinejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>
    <ion-input
    class="search-input"
    color="light" 
    [placeholder]="placeholder"
    (ionInput)="handleChange($event)"
    ></ion-input>
</div>
-->


<form class="form" #formElement>
    <label for="search">
        <input 
        required="" 
        autocomplete="off" 
        class="search" 
        type="text"
        #searchInput
        [placeholder]="placeholder"
        [disabled]="disabled"
        [value]="value"
        (input)="onSearchChange($event)">
        <div class="icon">     
            <app-icon name="search" fill="currentColor"></app-icon>            
        </div>
        <button type="reset" class="clear-button" (click)="clearSearch()">
            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" fill-rule="evenodd"></path>
            </svg>
        </button>
    </label>
</form>
